@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.table {
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  color: #01579b;
}
th {
  box-sizing: border-box;
  border: #01579b solid 2px;
  background-color: #b3e5fc;
  margin: 0;
  text-align: left;
  font-size: 20px;
  color: #01579b;
}
td {
  box-sizing: border-box;
  border: #01579b solid 2px;
  background-color: #29b6f6;
  color: #e1f5fe;
  padding: 0.5%;
  margin: 0;
}
